<%- partial('_inc/layout/header', { meta: {} }) %>

<%
	var sideProjects = [{
		title: 'Beware Hot Coffee Intro',
		imgSrc: 'https://d13yacurqjgara.cloudfront.net/users/249159/screenshots/2750816/u-animation-beware-hot-coffee.gif',
		linkUrl: 'https://dribbble.com/shots/2750816-Beware-Hot-Coffee-Intro',
		likes: 9
	}, {
		title: 'Duxilio Logo',
		imgSrc: 'https://d13yacurqjgara.cloudfront.net/users/249159/screenshots/2087360/duxilio-logo-dribbble.png',
		linkUrl: 'https://dribbble.com/shots/2087360-Duxilio-new-start-up-logo-design',
		likes: 8
	}, {
		title: 'Duxilio website third section',
		imgSrc: 'https://d13yacurqjgara.cloudfront.net/users/249159/screenshots/2095977/duxilio_webpage-dribbble.jpg',
		linkUrl: 'https://dribbble.com/shots/2095977-Duxilio-website-third-section',
		likes: 24
	}, {
		title: 'Literally Lyrics',
		imgSrc: 'https://d13yacurqjgara.cloudfront.net/users/249159/screenshots/2100356/literallylyrics.jpg',
		linkUrl: 'https://dribbble.com/shots/2100356-Literally-Lyrics',
		likes: 5
	}];
%>

<section class="hero">
	<div class="hero__wrapper">
		<div class="container">
			<%- partial('_inc/logo') %>
			<h1 class="h--no-spacing">Robert van Haaren</h1>
			<h4 class="h--weight-light">An ambitious <u>interaction designer</u> based in Amsterdam</h4>
			<ul class="list--inline">
				<li><a href="mailto:robert@duxilio.com">robert@duxilio.com</a></li>
				<li><a href="tel:+31624877533">+31 6 24 87 75 33</a></li>
			</ul>
		</div>
	</div>
</section>

<%- partial('_inc/feature', {
		deviceType: 'iphone-vertical',
		imgs: ['iphone-blackdove-01.png', 'iphone-blackdove-02.png'],
		title: 'Blackdove',
		subTitle: 'Bringing Motion Art To Every Home',
		desc: 'Blackdove is a digital art platform featuring a vast, growing collection of cutting-edge works by the world’s most innovative artists. Instantly enjoy a dynamic art experience on our own Samsung Canvas or via media players including Apple TV, Chromecast, Roku and Amazon Fire TV.',
		from: 'February 2016',
		to: 'Present',
		category: 'Brand, UX & Interaction Design',
		slug: 'blackdove',
		reversed: false
	}) %>

<%- partial('_inc/feature', {
		deviceType: 'laptop',
		imgs: ['macbooks01-calcium.png', 'macbooks02-calcium.png'],
		title: 'Calcium',
		subTitle: 'Making conversion optimization simple',
		desc: 'Last year WeLikeMilk came to me with the idea to create a custom CMS completely focused on optimizing a website\'s conversion rates for use with their clients. Together with their team I created just that: A CMS with a great UX that helps their clients gain more insight in how to optimize conversion rates.',
		from: 'May 2015',
		to: 'July 2015',
		category: 'UX & Interaction Design',
		slug: 'calcium',
		reversed: true,
	}) %>

<%- partial('_inc/feature', {
		deviceType: 'ipad',
		imgs: ['ipad-welikemilk.png'],
		title: 'WeLikeMilk.nl',
		subTitle: 'Result by relevance',
		desc: 'WeLikeMilk is an Amsterdam based agency specialized in marketing. They help big clients like Achmea, Simyo, KPN en Thuiscomfort to optimize their conversion rates.',
		from: 'Februari 2015',
		to: 'April 2015',
		category: 'UX & Interaction Design',
		slug: 'welikemilk',
		reversed: false
	}) %>

<%- partial('_inc/feature', {
		deviceType: 'iphone',
		imgs: ['iphone-duxelo.png', 'iphone-duxelo02.png'],
		title: 'Duxelo',
		subTitle: 'Everything a student needs',
		desc: 'Duxelo is a project by a young Amsterdam based startup called Duxilio. An app that gives a student everything he or she could possibly need during a school day. It\'s a combination of systems that are already being used by the school, new features from our building bucket and tailor made features all in one mobile application for Android and iOS.',
		from: 'November 2015',
		to: 'December 2015',
		category: 'UX & Interaction Design',
		slug: 'duxelo',
		reversed: true
	}) %>

<div class="container">
	<div class="text-center push-top">
		<div class="seymour">
			<h3 class="seymour__overlay">Wanna <u>see more?</u></h3>
			<div ontouchstart class="seymour__img"></div>
		</div>
		<ul class="project-previews">
			<%
			for (var i = 0; i < sideProjects.length; i++) {
				var curr = sideProjects[i];	
			%>
				<li class="project-previews__preview">
					<a href="<%= curr.linkUrl %>" title="<%= curr.title %>">
						<div class="project-previews__img">
							<img src="<%= curr.imgSrc %>" alt="<%= curr.title %>" />
						</div>
						<div class="project-previews__footer">
							<small class="project-previews__footer__likes">
								<span>
									<% include ../../www/img/heart.svg %>
								</span>
								<%= curr.likes %>
							</small>
						</div>
					</a>
				</li>
			<% } %>
		</ul>
		<a href="https://dribbble.com/NoPain_NoGame_" class="btn btn--big" title="Check out more work on Dribbble">Show me more work</a>
	</div>
</div>

<%- partial('_inc/layout/footer') %>