<section
	class="feature feature--<%= deviceType %> <%= reversed ? 'feature--reversed' : '' %>"
	data-onscreen-toggle="feature--onscreen"
>
	<div class="container">
		<div class="feature__device">
			<% for(var i = 0; i < imgs.length; i++) { %>
				<img src="/www/img/<%= imgs[i] %>" alt="<%= title %>" />
			<% } %>
		</div>
		<div class="feature__content">
			<a href="/projects/<%= slug %>" title="<%= title %>">
				<h3 class="feature__title"><%= title %></h3>
				<h5 class="feature__sub-title h--weight-light"><%= subTitle %></h5>
			</a>
			<p><%= desc %></p>
			<p><small><%= category %> / <%= from %> - <%= to %></small></p>
			<a href="/projects/<%= slug %>" title="<%= title %>">Check out <%= title %></a>
		</div>
	</div>
</section>