<button class="item" data-modal-src="www/img/projects/<%= imageModalSrc %>">
  <img loading="lazy" class="lazyload" data-src="www/img/projects/<%= imageSrc %>" alt="<%= imageAlt %>">
  <div class="p-inner">
    <h4><%= title %></h4>
    <div class="cat"><%= description %></div>
  </div>
</button>
