<%- partial('../_inc/project/layout/header', {
		title: 'Blackdove',
		description: 'Netflix for Motion art',
		img: 'http://focuslabllc.com/assets/portfolio/500px/500px_Artboard@2x.jpg',
		slug: 'calcium'
	}) %>

<div class="container container--text container--push-top">
	<h1 class="h--no-spacing"><u>C</u>alcium</h1>
	<h4 class="feature__sub-title h--weight-light">Making conversion optimization simple</h4>
	
	<p class="p--big">
	WeLikeMilk is an Amsterdam based agency specialised in marketing. They help big clients like Achmea, Simyo, KPN en Thuiscomfort to optimise their conversion rates.
	</p>

	<p class="p--big">
	Last year WeLikeMilk came to me with the idea to create a custom CMS completely focussed on optimizing a website's conversion rates for use with their clients. Together with their team I created just that: A CMS with a great UX that helps their clients gain more insight in how to optimise conversion rates.
	</p>
	
	<p>UX & Interaction Design / May 2015 - July 2015</p>
</div>

<div class="story">
	<div class="container">
		<%- partial('../_inc/project/img', {
				src: '../www/img/projects/calcium/calcium03.jpg',
				alt: ''
			}) %>
	</div>

	<%- partial('../_inc/project/quote-banner', {
			quote: 'We aimed to address accurate communication of the company name, brand repositioning, and the merger of two unique brand experiences.',
			cite: 'Marc Billings, CEO @ <a>Blackdove</a>'
		}) %>

	<div class="container">
		<%- partial('../_inc/project/img-group', {
			imgs: [{
				src: '../www/img/projects/calcium/calcium02.jpg',
				alt: ''
			}, {
				src: '../www/img/projects/calcium/calcium01.jpg',
				alt: ''
			}]
		}) %>
		<%- partial('../_inc/project/img', {
			src: '../www/img/projects/calcium/calcium04.jpg',
			alt: ''
		}) %>
	</div>
</div>

<%- partial('../_inc/project/layout/footer') %>