<%- partial('../_inc/project/layout/header', {
		title: 'Blackdove',
		description: 'Netflix for Motion art',
		img: 'http://focuslabllc.com/assets/portfolio/500px/500px_Artboard@2x.jpg',
		slug: 'duxelo'
	}) %>

<div class="container container--text container--push-top">
	<h1 class="h--no-spacing"><u>D</u>uxelo</h1>
	<h4 class="feature__sub-title h--weight-light">Everything a student needs</h4>
	<p class="p--big">
		Duxelo is a project by a young Amsterdam based startup called Duxilio. An app that gives a student everything he or she could possibly need during a school day. It's a combination of systems that are already being used by the school, new features from our building bucket and tailor made features all in one mobile application for Android and iOS.
	</p>
	<p>UX & Interaction Design / November 2015 - December 2015</p>
</div>

<div class="story">
	<div class="container">
		<%- partial('../_inc/project/img', {
				src: '../www/img/projects/duxelo/students-phones.jpg',
				alt: ''
			}) %>
	</div>

	<%- partial('../_inc/project/quote-banner', {
			quote: 'We aimed to address accurate communication of the company name, brand repositioning, and the merger of two unique brand experiences.',
			cite: 'Marc Billings, CEO @ <a>Blackdove</a>'
		}) %>

	<div class="container">
		<%- partial('../_inc/project/img', {
			src: '../www/img/projects/duxelo/branding-duxelo.jpg',
			alt: ''
		}) %>
		<%- partial('../_inc/project/img', {
			src: '../www/img/projects/duxelo/duxelo01.jpg',
			alt: ''
		}) %>
	</div>
</div>

<%- partial('../_inc/project/layout/footer') %>