<%- partial('../_inc/project/layout/header', {
		title: 'WeLikeMilk.nl',
		description: 'Result by relevance',
		img: 'http://robertvanhaaren.com/www/img/projects/welikemilk/welikemilk-home.jpg',
		slug: 'welikemilk'
	}) %>

<div class="container container--text container--push-top">
	<h1 class="h--no-spacing"><u>W</u>eLikeMilk.nl</h1>
	<h4 class="feature__sub-title h--weight-light">Result by relevance</h4>
	
	<p class="p--big">
		WeLikeMilk is an Amsterdam based agency specialized in marketing. They help big clients like Achmea, Simyo, KPN en Thuiscomfort to optimize their conversion rates.
	</p>

	<p class="p--big">
		Near the beginning of last year WeLikeMilk asked me to create a company website for them that showed potential clients what they have to offer in a short and sweet way. For them I created a website that gives clients an idea of what they can expect when working with WeLikeMilk.
	</p>
	
	<p>UX & Interaction Design / February 2015 - April 2015</p>
</div>

<div class="story">
	<div class="container">
		<%- partial('../_inc/project/img', {
				src: '../www/img/projects/welikemilk/welikemilk-home.jpg',
				alt: ''
			}) %>
	</div>

	<%- partial('../_inc/project/quote-banner', {
			quote: 'We aimed to address accurate communication of the company name, brand repositioning, and the merger of two unique brand experiences.',
			cite: 'Marc Billings, CEO @ <a>Blackdove</a>'
		}) %>

	<div class="container">
		<%- partial('../_inc/project/img', {
				src: '../www/img/projects/welikemilk/WeLikeMilk.jpg',
				alt: ''
			}) %>
		<%- partial('../_inc/project/img', {
				src: '../www/img/projects/welikemilk/kleurpalet-welikemilk.jpg',
				alt: ''
			}) %>
		<%- partial('../_inc/project/img', {
				src: '../www/img/projects/welikemilk/schetsen.jpg',
				alt: ''
			}) %>
	</div>
</div>

<%- partial('../_inc/project/layout/footer') %>