<%- partial('../_inc/project/layout/header', {
		title: 'Codecov',
		description: 'Improve code stability without sacrificing speed',
		img: 'https://robertvanhaaren.com/www/img/bd-promo.jpg',
		slug: 'codecov',
		noIndex: true
	}) %>

<div class="container container--text container--push-top">
	<h1 class="h--no-spacing"><u>A</u>bout Codecov</h1>
	<h4 class="feature__sub-title h--weight-light">Ship healthier code faster with less risk.</h4>

	<p class="p--big">
		Codecov gives companies actionable coverage insights when and where they need them to ensure they are shipping quality code. With everything from doorbells to rockets running on code, it's more important than ever to ensure quality code is being delivered with every release.
	</p>

	<p class="p--push">Product UI, UX, Brand and Marketing Design / June 2019 - June 2022 / Company size: 50 <br /> San Fransisco (CA) US. <a class="underline" href="https://codecov.io" target="_blank">codecov.io</a></p>

	<%- partial('../_inc/project/video-banner', {
			iframeSrc: 'https://www.youtube.com/embed/wwFookaYHoo'
		}) %>

	<h4 class="feature__sub-title h--weight-light push-top--small">My Role at Codecov</h4>
	<p class="p--big">
	Around June 2019 Codecov had asked me to help them rethink their Product pages. When I joined Codecov at that time the team was consisting out of 10 people, 3 years later it had grown to over 50 people. 
	</p>
	<p class="p--big">
	The first 1.5 years at Codecov I've worked closely with their CTO Eli Hooten. The entire product needed a design overhaul. The product needed a closer look with research, competitor comparison, deciding what is important (and what isn't). We really needed to understand the product and how our users are using and experiencing it to iterate and increase its value. 
	</p>

	<h4 class="feature__sub-title h--weight-light push-top--small">Product Use-cases</h4>
	<p class="p--big">
	Around June 2019 Codecov had asked me to help them rethink their Product pages. When I joined Codecov at that time the team was consisting out of 10-15 people, 3 years later it had grown to over 50 people. 
	</p>

	<div class="showcase showcase-usecase">
	  <a class="showcase-item codecov-showcase" href="/work/accessibility">
	    <p class="use-case-title"><strong>Accessibility color blindness</strong></p> 
		<p>Use-case 1:</p>
	    <span class="btn-02 transition">Continue reading</span>
	  </a>
	  <a class="showcase-item codecov-showcase" href="/work/ux">
	    <p class="use-case-title"><strong>UX Top Navigation bar</strong></p> 
		<p>Use-case 2:</p>
	    <span class="btn-02 transition">Continue reading</span>
	  </a>
	</div>
</div>

<div class="container container--text">
	<br /><br />
	<p class="p--big">
	<strong>Analyse</strong> Receiving user data is important, that's why we used <a href="https://www.fullstory.com/" class="underline" target="_blank">Fullstory</a> to track how users are experiencing Codecov's product. This enabled us to see rage-clicks, deadlinks, heatmaps, movements, user session recordings, etc. This would also mean we could compare with newer versions and see if it resolves the issue, increases value, hit our <a target="_blank" class="underline" href="https://www.klipfolio.com/resources/articles/what-is-a-key-performance-indicator">success metrics</a> and targets <a href="https://vwo.com/ab-testing/" class="underline" target="_blank">(a/b test)</a>.
	</p>
	<p class="p--big">
	<strong>User interviews</strong> Watching recorded user feedback sessions and attending them helped us understand things like: why are our users using us?, what do they like about our product? and what do they not understand or don't like? / find confusing? Seeing a user use your product and see them e.g. struggeling on certain pages helped us creating a better experience for our users. 
	</p>

	<h4 class="feature__sub-title h--weight-light push-top--small h--no-spacing">Product Designs</h4>
	<p>Entire dashboard/portal redesign and interactions</p>
</div>

<section class="slickin-slide">
    <div>
      <img src="/../www/img/projects/codecov/product/1.png">
    </div>
    <div>
      <img src="/../www/img/projects/codecov/product/2.png">
    </div>
    <div>
      <img src="/../www/img/projects/codecov/product/3.png">
    </div>
    <div>
      <img src="/../www/img/projects/codecov/product/4.png">
    </div>
    <div>
      <img src="/../www/img/projects/codecov/product/5.png">
    </div>
   	<div>
      <img src="/../www/img/projects/codecov/product/6.png">
    </div>
    <div>
      <img src="/../www/img/projects/codecov/product/7.png">
    </div>
    <div>
      <img src="/../www/img/projects/codecov/product/8.png">
    </div>
    <div>
     	<video width="960" height="720" controls>
				<source src="/../www/img/projects/codecov/interactions/1.mp4" type="video/mp4">
			</video>
		</div>
		<div>
  		 <video width="960" height="720" controls>
  			<source src="/../www/img/projects/codecov/interactions/2.0.mp4" type="video/mp4">
  		</video>
  	</div>
  	<div>
  		<video width="960" height="720" controls>
  			<source src="/../www/img/projects/codecov/interactions/2.1.mp4" type="video/mp4">
  		</video>
  	</div>
  	<div>
  		<video width="960" height="720" controls>
  			<source src="/../www/img/projects/codecov/interactions/2.2.mp4" type="video/mp4">
  		</video>
  	</div>
  	<div>
  		<video width="960" height="720" controls>
  			<source src="/../www/img/projects/codecov/interactions/2.3.mp4" type="video/mp4">
  		</video>
  	</div>
  	<div>
  		<video width="960" height="720" controls>
  			<source src="/../www/img/projects/codecov/interactions/2.4.mp4" type="video/mp4">
  		</video>
  	</div>
  	<div>
  		<video width="960" height="720" controls>
  			<source src="/../www/img/projects/codecov/interactions/3.mp4" type="video/mp4">
  		</video>
  	</div>
  	<div>
  		<video width="960" height="720" controls>
  			<source src="/../www/img/projects/codecov/interactions/4.mp4" type="video/mp4">
  		</video>
  	</div>
  	<div>
  		<video width="960" height="720" controls>
  			<source src="/../www/img/projects/codecov/interactions/5.mp4" type="video/mp4">
  		</video>
  	</div>
  	<div>
  		<video width="960" height="720" controls>
  			<source src="/../www/img/projects/codecov/interactions/6.mp4" type="video/mp4">
  		</video>
    </div>
    <div>
  		<video width="960" height="720" controls>
  			<source src="/../www/img/projects/codecov/interactions/7.mp4" type="video/mp4">
  		</video>
    </div>
    <div>
	  	<video width="960" height="720" controls>
	  		<source src="/../www/img/projects/codecov/animation/version-a.mp4" type="video/mp4">
	  	</video>
  	</div>
  	<div>
  		<video width="960" height="720" controls>
  			<source src="/../www/img/projects/codecov/animation/version-b.mp4" type="video/mp4">
  		</video>
    </div>
</section>

<div class="container container--text">
	<h4 class="feature__sub-title h--weight-light push-top--small">Agile, Okr's, User stories and more</h4>
	<p class="p--big">
	At Codecov we worked with the agile scrum methodology (sprints, user stories, roles stakeholders). We've worked with quarterly OKR's to track progress, create alignment, and encourage engagement around measurable goals. This way everyone on each team will get aligned with longer terms company objectives.</p>

	<div class="text-center" style="margin-top: 30px;">
		<a href="/../www/img/projects/codecov/product-spec.pdf" class="btn btn--big" target="_blank">
			Product spec example
		</a>
	</div>
</div>


<div class="story">

	<%- partial('../_inc/project/quote-banner', {
		quote: 'Robert is a strong designer, with a keen eye for graphic design and consistent brand aesthetic. He was instrumental in bringing our public-facing assets (home page, web app, etc.) to the modern era. I"ve already introduced Robert to many companies in similar need and he"s been widely impactful and positively reviewed at those companies as well.',
		cite: '<a href="https://www.linkedin.com/in/jerrodengelberg/" target="_blank">Jerrod Engelberg</a>, CEO @Codecov'
	}) %>

	<div class="container container--text">
		<h4 class="feature__sub-title h--weight-light push-top--small">Marketing Team</h4>
		<p class="p--big">
		When the marketing team was taking shape I was asked to help them for the last year and a half when I was working at Codecov. My new task would be redesigning the entire brand. This meant, colors, fonts, icons, illustrations, marketing pages, blog headers, email designs, events, booth designs, sales/investor presentations designs, reusable elements, templates, documentation graphics, video editing, etc. </p>
		<p class="p--big">
		My focus shifted from making the product funcional, usable, simple, seamless, etc for our users to selling this product to potential users, by helping them understand what we do, why we do it, what value it can bring them.</p>
	</div>

	<div class="container container--text">
		<h4 class="feature__sub-title h--weight-light push-top--small">Icons and logo tiles</h4>
		<p class="p--big">
		</p>
	</div>

	<section class="slickin-slide">
	    <div>
	      <img src="/../www/img/projects/codecov/icons/1..png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/icons/2..png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/icons/3..png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/icons/4..png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/icons/5..png">
	    </div>
	</section>

	<div class="container container--text">
		<h4 class="feature__sub-title h--weight-light push-top--small h--no-spacing">Marketing website</h4>
		<p>Selection of pages</p>
		<ul>
			<li><a href="https://about.codecov.io/" target="_blank" class="underline">Homepage</a></li>
			<li><a href="https://about.codecov.io/pricing/" target="_blank" class="underline">Pricing page</a></li>
			<li><a href="https://about.codecov.io/resource/what-is-code-coverage/" target="_blank" class="underline">Ebook: what is code coverage?</a></li>
			<li><a href="https://about.codecov.io/resource/an-introduction-to-open-telemetry/" target="_blank" class="underline">Ebook: Open Telemetry</a></li>
			<li><a href="https://about.codecov.io/diagram/" target="_blank" class="underline">Marketecture Diagram</a></li>
			<li><a href="https://about.codecov.io/code-coverage-calculator/" target="_blank" class="underline">Code Coverage Calculator</a></li>
		</ul>
	</div>

	<section class="slickin-slide">
	    <div>
	      <img src="/../www/img/projects/codecov/marketing-pages/1.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/marketing-pages/2.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/marketing-pages/3.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/marketing-pages/4.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/marketing-pages/5.png">
	    </div>
	   	<div>
	      <img src="/../www/img/projects/codecov/marketing-pages/6.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/marketing-pages/7.png">
	    </div>
	</section>

	<div class="container container--text">
		<h4 class="feature__sub-title h--weight-light push-top--small h--no-spacing">Blog posts</h4>
		<p>Selection of blog posts</p>
		<ul>
			<li><a href="https://about.codecov.io/blog/" target="_blank" class="underline">Blog posts</a></li>
		</ul>
	</div>

	<section class="slickin-slide">
	    <div>
	      <img src="/../www/img/projects/codecov/blog/1.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/blog/2.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/blog/3.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/blog/4.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/blog/5.png">
	    </div>
	     <div>
	      <img src="/../www/img/projects/codecov/blog/6.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/blog/7.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/blog/8.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/blog/9.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/blog/10.png">
	    </div>
	    <div>
	      <img src="/../www/img/projects/codecov/blog/11.png">
	    </div>
	</section>

	<%- partial('../_inc/project/quote-banner', {
	quote: 'Robert and I worked very closely together while at Codecov. He crafted the Codecov brand from the ground up and was responsible for everything from website designs and motion graphics to physical assets like tradeshow booths and brochures. He is an incredibly versatile, skilled, and collaborative designer who takes the time to understand complex ideas, distill them down to their essence, and deliver incredibly well-conceived final designs. I would love the chance to work with Robert again in the future.',
	cite: '<a href="https://www.linkedin.com/in/jonblumenfeld/" target="_blank">Jon Blumenfeld</a>, Vice President Marketing @Codecov'
	}) %>

	<div class="container">
		<div class="text-center push-top--medium">
			<div class="seymour">
				<h4 class="seymour__overlay">Wanna <u>see more?</u></h4>
				<div ontouchstart class="seymour__img"></div>
			</div>
			<%- partial('../_inc/showcase') %>
			<div class="text-center" style="margin-top: 30px;">
				<a href="/work" class="btn btn--big">
					Back to overview
				</a>
			</div>
		</div>
	</div>
</div>

<script src="/../www/js/work/jquery-2.2.4.min.js"></script>
  <script src="/../www/js/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
		$('.slickin-slide').slick({
		  dots: true,
		  infinite: true,
		  speed: 300,
		  slidesToShow: 1,
		  centerMode: true,
		  variableWidth: true
		});
    });
</script>

<%- partial('../_inc/layout/footer') %>