<%
    var rootPath = '/www/',
        pageTitleBase = 'Robert van Haaren - Interaction Designer';

    var appDesc = meta.description || 'An ambitious interaction designer based in Amsterdam',
        appUrl = meta.url || 'http://robertvanhaaren.com',
        appName = meta.title ? meta.title+' | '+pageTitleBase : pageTitleBase,
        imgUrl = meta.img || appUrl+rootPath+'img/robertvanhaaren-og.png';
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= appName %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="<%= appDesc %>">

    <meta name="author" content="Koen Vendrik">
    <meta name="follow" content="index, follow">

    <meta property="og:site_name" content="<%= appName %>">
    <meta property="og:locale" content="nl-NL">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= appDesc %>">
    <meta property="og:url" content="<%= appUrl %>">
    <meta property="og:title" content="<%= appName %>">
    <meta property="og:image" content="<%= imgUrl %>">
    <meta property="fb:app_id" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@robertvanhaaren">
    <meta name="twitter:url" content="<%= appUrl %>">
    <meta name="twitter:title" content="<%= appName %>">
    <meta name="twitter:description" content="<%= appDesc %>">
    <meta name="twitter:image" content="<%= imgUrl %>">

    <link rel="apple-touch-icon" sizes="57x57" href="<%= rootPath %>img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= rootPath %>img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= rootPath %>img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= rootPath %>img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= rootPath %>img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= rootPath %>img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= rootPath %>img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= rootPath %>img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= rootPath %>img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="<%= rootPath %>img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= rootPath %>img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="<%= rootPath %>img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="<%= rootPath %>img/favicons/manifest.json">
    <link rel="mask-icon" href="<%= rootPath %>img/favicons/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="<%= rootPath %>img/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="<%= rootPath %>css/main.min.css?<%= Date.now() %>">
  </head>
  <body>